@media (max-width:940px) {
    .header__promo p {
        text-align: center;
    }

    .contact__title {
        height: 200px;
    }

    .contact__field input {
        width: 455px;
        height: 40px;
    }

    .contact__field textarea {
        width: 455px;
        height: 100px;
        margin-bottom: 30px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:768px) {

    /* .logos__img:not(:last-child) {
        margin-right: 5px;
    } */
    .logos__content {
        display: inline-block;
        column-count: 2;
    }

    .logos__img {
        margin-bottom: 10px;
    }
}